/* Desktop first design pattern */

body {
  min-width: 365px;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  background-size: 400% 400%;
  background-image: linear-gradient(45deg, #85c4ff 0%, #ff7dba 100%);

  animation: animate 10s linear infinite;
}

/* Background animation */
@keyframes animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  min-width: 700px;
  margin: 32px;

  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.right-column {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.albumImage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.musicInfo {
  text-align: center;
  margin-bottom: 10px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.control-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.control-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1;
  margin: 0 5px;
}

.control-buttons span.button-text {
  margin-left: 4px;
}

.ant-btn-icon {
  margin-inline-end: 0 !important;
}

.volume-container,
.seekbar-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.seekbar-container {
  margin-top: 10px;
}

.volume-text {
  margin-right: 10px;
}

.volume-slider,
.seekbar-slider {
  flex: 1;
}

.albumContainer {
  transition: transform 0.5s ease;
}

.albumContainer.animate {
  animation: spin 15s linear infinite;
}

/* Album image spin animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.playlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 20px;
}

.playlist > .ant-list {
  height: 100%;
}

.ant-list-item {
  display: flex;
  justify-content: flex-start !important;
  margin-bottom: 5px;
}

.ant-list-item:nth-child(n + 2) {
  cursor: pointer;
}

.ant-list-item:hover {
  background-color: #ffffff45;
}

.ant-list-item:nth-child(n + 2):hover .playlist-item {
  color: #1890ff;
}

.playlist .ant-list-items {
  overflow-y: auto;
  height: 100%;
}

/* Playlist item active song background animation */
@keyframes moveLeftRight {
  0% {
    background-position: -100% 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.active-item {
  animation: moveLeftRight 10s ease-in-out infinite;
  background: linear-gradient(90deg, #ff43e945, #a938ff45, #3842ff45);
  background-size: 400% 100%;
}

.divider {
  display: none !important;
  margin: 12px 0;
}

/* .playlist-playing-icon {
} */

.lf-player-container {
  width: 32px;
  margin-left: 0.5rem;
}
.playing-icon {
}

/**
 * Custom media query for smaller screen width
 */
@media (max-width: 1024px) {
  .control-buttons button {
    span {
      padding: 0;
      margin: 0;
    }
  }
}

@media (max-width: 768px) {
  .container {
    min-width: -webkit-fill-available;
    flex-direction: column;
    align-items: center;
    height: calc(100% - (32px * 2)); /* 32px is the margin */
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  .right-column {
    overflow-y: hidden;
  }

  .playlist {
    overflow-y: hidden;
    padding-left: initial;
  }

  .playlist > .ant-list {
    overflow-y: hidden;
  }

  .playlist > .ant-list > div:nth-child(2) {
    height: 100%;
  }

  .ant-spin-container {
    height: 100%;
  }

  .divider {
    display: initial !important;
  }
}

@media (max-width: 555px) {
  .control-buttons button {
    span {
      padding: 0;
      margin: 0;
    }
  }
}

/**
 * Custom media query for screen width between 768px and 1024px
 * and screen width less than 555px
 * to show/hide the button text
 */
@media (min-width: 768px) and (max-width: 1024px), (max-width: 555px) {
  .control-buttons button span.button-text {
    display: none !important;
  }
}

